* {
    margin:0px;
    background-color: rgb(0, 0, 0);
    border-left: 10px;
    color: rgb(255, 255, 255); 
    
}

a {
    color: rgb(255, 38, 0);
}

.teste {

    font-weight: bold;
    font-size: 25px;
}


#bah {

    font-weight: bold;
    font-size: 27px;
}

a {
    color: rgb(0, 120, 30);

}

ol li {
    color: rgb(18, 71, 206);
    background-color: rgb(17, 201, 78);
    margin-left: 12px;
    align-self: center;
}